In [31]:
import pandas as pd
import numpy as np 
import requests 
from bs4 import BeautifulSoup
import time

In [58]:
#url = "https://coolblue.be/nl/"
#test_url = "https://www.coolblue.be/nl/laptops?pagina=1"
columns = ['Product_Name', 'Price', 'Review', 'Number_Of_Reviews']
columns2 = ['Product_Name', 'Price', 'Review', 'Number_Of_Reviews', 'Category']

In [4]:
category_laptops = ["laptops", "desktops", "monitoren", "schoudertassen","laptopstandaarden", "public-displays", "laptops/tweedekans", "tablets" ]
last_extension = "?pagina=1"

#Nota te nemen dat het nummer wel nog veranderd moet worden!

In [2]:
# Assortiment v/d hoofdcategoriÃ«n!! 
url2 = "https://www.coolblue.be/nl/ons-assortiment"
html_cat = requests.get(url2).content
soup_cat = BeautifulSoup(html_cat, 'html.parser')
cats = soup_cat.find_all('h2')
cats2 = [categorie.getText().strip("\n").strip() for categorie in cats]
subcats = soup_cat.find_all(class_='category-navigation__item')
subcats = [subcategorie.getText().strip("\n").strip() for subcategorie in subcats]

In [3]:
def url (category, number):
    urls = []
    for i in range(1, number+1): 
        new_url = "https://www.coolblue.be/nl/"+category+"?pagina="+str(i)
        urls.append(new_url)
    return urls

In [4]:
def list_articles (soups): 
    name_article = [element.text for element in soups.findAll("div", {"class": "grid-section-xs--gap-2 js-product-item-title-wrapper"})]
    article_rows = [row.strip("\n").replace("\n", "") for row in name_article]
    return article_rows

In [6]:
def list_prices (soups): 
    price = [element.text for element in soups.findAll("div", {"class": "grid-section-xs--gap-3 flex-container--justify-content--space-between"})]
    price_row = [row.strip("\n").replace("\n", "") for row in price]
    price_test = [row.split("-") for row in price_row]
    price_test2 = [row[0]+"00" for row in price_test]
    return price_test2

In [36]:
def list_stars (soups): 
    rating = [element.text for element in soups.findAll("div", {"class": "review-rating"})]
    rating_row = [row.strip("\n").replace("\n", "") for row in rating]
    rating_row2 = [row.strip(" ").strip("reviews") for row in rating_row]
    rating_row3 = [row.split("/") for row in rating_row2]
    rating_row4 = [row[0] for row in rating_row3]
    return rating_row4

In [37]:
def list_number_ratings (soups): 
    rating = [element.text for element in soups.findAll("div", {"class": "review-rating"})]
    rating_row = [row.strip("\n").replace("\n", "") for row in rating]
    rating_row2 = [row.strip(" ").strip("reviews") for row in rating_row]
    rating_row3 = [row.split("/") for row in rating_row2]
    review = [review[-1][-3:] for review in rating_row3]
    return review

In [38]:
def coolblue_v2 (): 
    cat = input("Which category you want to scrape? ")
    number_pages = input("How many pages you want to scrape? ")
    int_number_pages = int(number_pages)
    webpages = url(cat, int_number_pages)
    products2 = []
    for webpage in webpages: 
        html = requests.get(webpage).content
        soup = BeautifulSoup(html, 'html.parser')
        articles = list_articles(soup)
        prices = list_prices(soup)
        stars = list_stars(soup)
        num_ratings = list_number_ratings (soup)
        for i in range(0, len(articles)): 
            pro = [articles[i], prices[i], stars[i], num_ratings[i]]
            products2.append(pro)
    return products2


#monitoren
#schoudertassen

In [24]:
data = coolblue_v2()

df = pd.DataFrame(data, columns=colnames)

In [56]:
def coolblue_v3 (): 
    producten = []
    for sub in subcats: 
        urllen = url(sub, 7)
        for weburl in urllen: 
            html = requests.get(weburl).content
            soup = BeautifulSoup(html, 'html.parser')
            articles = list_articles(soup)
            prices = list_prices(soup)
            stars = list_stars(soup)
            num_ratings = list_number_ratings (soup)
            for i in range(0, len(articles)): 
                try: 
                    pro = [articles[i], prices[i], stars[i], num_ratings[i], sub]
                    producten.append(pro)
                except: 
                    continue
        time.sleep(2)
    return producten

In [57]:
bert_test_v4 = coolblue_v3()

In [47]:
bert_test_v3 = coolblue_v3()

In [51]:
data_v3 = bert_test_v3
colnames = columns
df_v3 = pd.DataFrame(data_v3, columns=colnames)

In [59]:
data_v4 = bert_test_v4
colnames2 = columns2
df_v4 = pd.DataFrame(data_v4, columns=colnames2)

In [61]:
df_v4.head(18)

,Product_Name,Price,Review,Number_Of_Reviews,Category
0,HP Pavilion 15-cw1039nb Azerty,"749,00",4.5,89,Laptops
1,"Apple MacBook Air (2020) 8/256GB 1,1GHz Space...","1.249,00",4.5,89,Laptops
2,Acer Aspire 3 A315-56-55ZJ Azerty,"629,00",4.5,43,Laptops
3,Lenovo Thinkbook 15 - 20SM003FMB Azerty,"1.099,00",4.5,1,Laptops
4,Acer Aspire 3 A315-56-51Z4 Azerty,"599,00",4.5,43,Laptops
5,Acer Aspire 5 A515-55G-52BM Azerty,"719,00",4.5,34,Laptops
6,Acer Aspire 3 A315-23-R3WY Azerty,"599,00",4.5,43,Laptops
7,Acer Chromebook 314 CB314-1HT-C1MK Azerty,"399,00",5,2,Laptops
8,HP 15-dw1040nb Azerty,"679,00",4.5,4,Laptops
9,Acer Nitro 5 AN517-52-79HM Azerty,"1.459,00",5,7,Laptops
10,Acer Aspire 5 A514-53-556R Azerty,"649,00",4.5,34,Laptops
11,HP Pavilion 15-cw1017nb Azerty,"649,00",4.5,89,Laptops
12,Lenovo IdeaPad 5 15IIL05 81YK00F3MB Azerty,"899,00",4.5,21,Laptops
13,HP Pavilion 15-cs3061nb Azerty,"1.229,00",4.5,21,Laptops
14,HP 15-dw1043nb Azerty,"959,00",5,3,Laptops
15,HP Pavilion x360 14-dh1009nb Azerty,"1.149,00",4.5,8,Laptops
16,Asus Vivobook 15 P1504JA-EJ573T-BE Azerty,"729,00",4.5,6,Laptops
17,HP ENVY x360 15-ed0013nb Azerty,"1.249,00",4.5,10,Laptops

In [69]:
vaatwasser = df_v4[(df_v4.Category == "Vaatwassers")]
vaatwasser

,Product_Name,Price,Review,Number_Of_Reviews,Category
4186,Bosch SMV68PX01N / Inbouw / Volledig geintegr...,"859,00",4.5,72,Vaatwassers
4187,Siemens SN636X01GE / Inbouw / Volledig geinte...,"489,00",4.5,42,Vaatwassers
4188,Bosch SMU68TS06E / Inbouw / Onderbouw / Nisho...,"857,00",5,33,Vaatwassers
4189,AEG FSE63617P/ Inbouw / Volledig geintegreerd...,"699,00",4.5,19,Vaatwassers
4190,AEG FSB53907Z / Inbouw / Volledig geintegreer...,"679,00",4.5,40,Vaatwassers
...,...,...,...,...,...
13709,Siemens SX658X03TE / Inbouw / Volledig geinte...,"899,00",4.5,56,Vaatwassers
13710,AEG FSS62807P ComfortLift / Inbouw / Volledig...,"979,00",0,0,Vaatwassers
13711,Siemens SN658X03TE / Inbouw / Volledig geinte...,"879,00",4.5,56,Vaatwassers
13712,Bosch SBV88UX36E / Inbouw / Volledig geÃ¯ntegr...,"999,00",5,6,Vaatwassers
13713,AEG FSE83617P / Inbouw / Volledig geintegreer...,"959,00",4.5,6,Vaatwassers

Empty DataFrame
Columns: [Product_Name, Price, Review, Number_Of_Reviews, Category]
Index: []